
/* -----------Section Concentrate-------------- */
.concentrate_1{
    position: relative;
    width:100%;
    height:100%;
    background-image: url('../img/Repite-min.png');
    
}
/* --------------Section Creditos------------------- */
.creditos{
    position: relative;
    width:100%;
    height:100%;
    background-image: url('../img/Créditos/Fondo_cafe.png');
}
.texto_creditos{
    position: fixed;
    top: 17%;
    right: 35%;
    width: 322px;
    height: 316px;
    background: url("../img/Créditos/Créditos.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}

.atras_creditos{
    position: fixed;
    bottom: 3%;
    right: 35%;
    width: 133px;
    height: 153px;
    background: url("../img/Créditos/Atras_btn.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.sonido_creditos{
    position: fixed;
    bottom: 3%;
    left: 35%;
    width: 133px;
    height: 153px;
    background: url("../img/Créditos/Sonido_creditos_btn.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
/* -----------------Section 1------------------------- */
.killa_intro{
    position: fixed;
    top: 15%;
    right: 7%;
    width: 212px;
    height: 570px;
    background: url("../img/Kila2-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}

.concentrate_text{
    position: fixed;
    top: 13%;
    left: 18%;
    width: 485px;
    height: 364px;
    background: url("../img/concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.btn_jugar{
    position: fixed;
    bottom: 10%;
    left: 31%;
    width: 200px;
    height: 220px;
    background: url("../img/Jugar_btn-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.btn_jugar.ganar{
    bottom: 16%;
    left: 37%;
    width: 140px;
    height: 150px; 
}
.btn_jugar.perder{
    bottom: 16%;
    left: 37%;
    width: 140px;
    height: 150px; 
}

.btn_atras{
    position: fixed;
    bottom: 25%;
    left: 10%;
    width: 78px;
    height:87px;
    background: url("../img/atras_btn-min.png") no-repeat;
  
}
.btn_sonido{
    position: fixed;
    bottom: 13%;
    left: 10%;
    width: 78px;
    height: 87px;
    background: url("../img/sonido_btn-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.perdiste{
    position: fixed;
    top: 13%;
    left: 12%;
    width: 598px;
    height: 578px;
    background: url("../img/perdiste_concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.ganaste{
    position: fixed;
    top: 13%;
    left: 12%;
    width: 598px;
    height: 578px;
    background: url("../img/ganaste_concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}

/* ----------------Tarjetas------------------- */
.wrap{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 85%;
    height: auto;
    margin: 50px auto;
    display: flex;
    padding-top: 34px;
    /* background-color: #000; */
}

.tarjeta{
    margin-right: 5px !important;
    margin-bottom: 20px;
    display: inline-block;
    }

.tarjeta.tarjeta_reves{
    width: 110px;
    height: 159px;
    background-color: red;
    background: url("../img/Concentrate/carta1.png ") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}

.tarjeta.tarjeta_reves.cruz{
    background: url("../img/carta_cruz.png ") no-repeat;
}
.tarjeta.tarjeta_reves.iglesia{
    background: url("../img/carta_iglesia.png ") no-repeat;
}
.tarjeta.tarjeta_reves.jesus{
    background: url("../img/carta_jesus.png ") no-repeat;
}
.tarjeta.tarjeta_reves.metrocable{
    background: url("../img/carta_metrocable.png ") no-repeat;
}
.tarjeta.tarjeta_reves.puente{
    background: url("../img/carta_puente.png ") no-repeat;
}
.tarjeta.tarjeta_reves.silla{
    background: url("../img/carta_silla.png ") no-repeat;
}
.tarjeta.tarjeta_reves.virgen{
    background: url("../img/carta_virgen.png ") no-repeat;
}

/* s */

.fondo_concentrate{
    position: fixed;
    top: 17%;
    left: 8%;
    width: 846px;
    height: 530px;
    /* background-image: url(../img/Concentrate/fondo_concentrate.png) no-repeat; */
    /* background-color: red; */
    background-position: center center;
    background-size: 100%;

}
#fondo_concentrate{
    position: fixed;
    top: 17%;
    left: 5%;
}
#titulo_juego_concentrate{
    position: fixed;
    left: 28%;
}
#boton_home_concentrate{
    position: fixed;
    left: 5%;
}
#boton_on_concentrate{
    position: fixed;
    right: 5%;
}
